*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100%;
}

body {
  width: 100%;
  max-width: 414px;
  min-height: 100vh;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f5f5f8;
}

img {
  max-width: 100%;
}
